<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Series</title>
</head>

<body>

    <%- include('navbar') %>
    <h1>Add Series</h1>

    <form action="/series/create" method="post">

        <label for="seriesName"><b>Series Name</b></label>
        <input id="seriesName" name="seriesName" type="text" placeholder="Enter series name">

        <label for="genre"><b>Genre</b></label>
        <select name="genre" id="genre">
            <% genres.forEach((oneGenre)=>{ %>
                <option value="<%= oneGenre %>"><%= oneGenre %></option>
            <% }) %>
        </select>

        <label for="ageRating"><b>Age Rating</b></label>
        <select name="ageRating" id="ageRating">
            <% ageRating.forEach((oneRating)=>{ %>
                <option value="<%= oneRating %>"><%= oneRating %></option>
            <% }) %>
        </select>

        <label for="Rating"><b>Rating</b></label>
        <input id="Rating" name="rating" type="number" min="1" max="5" placeholder="1 to 5">

        <label for="review"><b>Review</b></label>
        <input id="review" name="review" type="text" placeholder="Write your review">

        <button>Confirm</button>
    </form>

    <a href="/">Return Home Page</a>

</body>
</html>