<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>

  <main>

    <h1>Welcome to My Website</h1>

      <div class="navbar-container"><%- include('navbar') %></div>

    <h2>Films</h2>
    <% allFilm.forEach((oneFilm)=> { %>
      <p><b>Film Name:</b> <%= oneFilm.filmName %></p>
      <p><b>Genre:</b> <%= oneFilm.genre %></p>
      <p><b>Age Rating:</b> <%= oneFilm.ageRating %></p>
      <p><b>Rating:</b> <%= oneFilm.rating %></p>
      <p><b>Review:</b> <%= oneFilm.review %></p>
      <p><b>Creator:</b> <%= oneFilm.userCard.username %></p>
      <br />

      <% if (user) { %>
        <form action="/film/edit/<%= oneFilm._id %>" method="get">
          <button>Edit</button>
        </form>
        <form action="/film/delete/<%= oneFilm._id %>" method="post">
          <button>Delete</button>
        </form>
      <% } %>

      <br />
    <% }) %>

    <hr>

    <h2>Series</h2>
    <% allSeries.forEach((oneSeries)=> { %>
      <p><b>Series Name:</b> <%= oneSeries.seriesName %></p>
      <p><b>Genre:</b> <%= oneSeries.genre %></p>
      <p><b>Age Rating:</b> <%= oneSeries.ageRating %></p>
      <p><b>Rating:</b> <%= oneSeries.rating %></p>
      <p><b>Review:</b> <%= oneSeries.review %></p>
      <p><b>Creator:</b> <%= oneSeries.userCard.username %></p>
      <br />

      <% if (user) { %>
        <form action="/series/edit/<%= oneSeries._id %>" method="get">
          <button>Edit</button>
        </form>
        <form action="/series/delete/<%= oneSeries._id %>" method="post">
          <button>Delete</button>
        </form>
      <% } %>
    <% }) %>
  </main>

<footer>
  <p>
    <a href="/about">About Us</a> | 
    <a href="/services">Our Services</a> | 
    <a href="/contact">Contact</a>
  </p>
  <p>© 2026 My Media App - All rights reserved</p>
</footer>
</body>
</html>