<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('navbar') %>

    <h1>Welcome to my Website</h1>


    <h2>All Films</h2>

    <% allFilm.forEach((oneFilm)=>{%>
        <p> Film name : <%= oneFilm.filmName %></p>
        <p> Genre :<%= oneFilm.genre %></p>
        <p> Age Rating : <%= oneFilm.ageRating %></p>
        <p> Rating : <%= oneFilm.rating %></p>
        <p> Review : <%= oneFilm.review %></p>
        <p>Creator: <%= oneFilm.userCard.username %></p>
        <br />
        
    
    <% }) %>

</body>
</html>